.add-task-btn {
    margin-top: 30px;
}

.task-item {
    border: 1px solid #ccc;
    margin-bottom: 5px;
    padding: 10px;
    border-radius: 5px;
    background-color: #f8f8f8;
    position: relative;
}

.priority-low {
    background-color: #e6ffe6;
    border-left: 5px solid green;
}

.priority-medium {
    background-color: #fff0e6;
    border-left: 5px solid orange;
}

.priority-high {
    background-color: #ffe6e6;
    border-left: 5px solid red;
}

.completed {
  text-decoration: line-through;
  color: gray;
  background-color: #f0f0f0;
}


.delete{
    position: sticky;
    left: 5000px;
}
.delete-task {
    position: sticky;
    background-color: #777777;
    left: 5000px;
}

.logout{
   position: sticky;
   left: 5000px;
   bottom: 100px;
}

.reset-btn{
    position: sticky;
    left: 5000px;
    }

.search-btn{
    position: sticky;
    left: 5000px;
}

#calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 10px;
}

.calendar-day {
  background: white;
  border: 1px solid #ddd;
  padding: 10px;
  min-height: 100px;
  font-size: 14px;
  overflow-y: auto;
}

.calendar-day h6 {
  font-weight: bold;
  margin-bottom: 5px;
}
@keyframes shake {
  0% { transform: translateX(0); }
  25% { transform: translateX(-5px); }
  50% { transform: translateX(5px); }
  75% { transform: translateX(-5px); }
  100% { transform: translateX(0); }
}

.shake {
  animation: shake 0.4s ease-in-out;
}
